* {
    box-sizing: border-box;
}

.container{
font-family: 'Inter';
position: absolute;
width: 550px;
height: 868px;
left: 65px;
top: 53px;
background: #23252C;

}


/*Profile Component*/

.profile-pic{
position: absolute;
width: 317px;
height: 317px;
left: 116px;
top: 44px;

background: url(./images/Th.jpg);
border-radius: 10px 10px 0px 0px;
}


/*Info Component*/

main{

position: absolute;
width: 317px;
height: 399px;
left: 116px;
top: 361px;
background: #1A1B21;
padding-left: 12px;



}

.info--name{
    
font-weight: 700;
font-size: 25px;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}

.info--role{
   
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 10px;
text-align: center;
color: #F3BF99;

}

.info--site{

font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5; 

}


.btn{
    display: flex;
    justify-content: center;
    
}



.email--btn{

display: flex;
padding: 9px 13px 9px 11px;
width: 115px;
height: 34px;
background: #FFFFFF;
justify-content: space-around;
border: 0px solid #D1D5DB;
border-radius: 6px;
margin-left: -15px;

}
.email--btn:hover {
  background-color: darkgrey;
  }



.linkedin--btn{

display: flex;
padding: 9px 13px 9px 11px;
width: 115px;
height: 34px;
color: white;
background: #5093E2;
border-radius: 6px;
border: 0px solid #D1D5DB;
justify-content: space-around;
margin-left: 15px;
}

.linkedin--btn:hover {
  background-color: RoyalBlue;
  }


p{
     text-align: left;
}




.about{
height: 21px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #F5F5F5;
margin-left: 20px;

}

.interest{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #F5F5F5;
margin-left: 20px;

}

.about--me{
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;
color: #DCDCDC;
margin-left: 20px;
margin-right: 22px;
}

.my--interest{
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;
color: #DCDCDC;  
margin-left: 20px;
margin-right: 22px;
}


/*Footer Component*/

footer {
position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 760px;
display: flex;
justify-content: center;
background: #161619;
border-radius: 0px 0px 10px 10px;
 font-size: 25px;

}

footer > i{
   color: #918E9B;
   margin-top: 20px;
  margin-left: 12px;
  margin-right: 20px;
 
  
  
}

